<div class="text-right" *ngIf="admin">
   <i title="Edit" (click)="setPostToEdit(post)" class="fas fa-edit" aria-hidden="true" 
style="cursor: pointer"></i>
   <i title="Delete" class="fas fa-trash-alt" aria-hidden="true" 
style="cursor: pointer"></i>
</div>
<h2 class="blog-post-title">{{ post.title }}</h2>
<p class="blog-post-meta">January 1, 2014 by <a href="#">Mark</a></p>

<div class="text-white p-4 mb-3 bg-secondary rounded">
   {{ (post.text.length>300)? (post.text | slice:0:300)+'...':(post.text) }}
</div>
<p class="lead mb-0 border-bottom">
<a *ngIf="read" href="#" 
class="text-black-50 font-weight-bold">Continue reading...</a></p>
