<div *ngIf="user" class="container" style="margin-top: 40px;">
    <div class="card" style="width: 100%;">
        <div class="card-body">
            <div class="row">
                <div class="col-4" style="text-align: center;">
                    <img *ngIf="user.avatar" [src]="user.avatar" class="card-img-top img-thumb" [alt]="user.first_name">
                    <h5 class="card-title">{{user.first_name}}</h5>
                    <div class="form-inline">
                        <label for="user-name">Name: </label>
                        <input id="user-name" [(ngModel)]="user.first_name" placeholder="name" class="form-control">
                        <button (click)="save()" class="btn btn-success">Save</button>
                    </div>
                </div>
                <div class="col-8">
                    <p class="card-text">Lorem ipsum pain sit amet, consectetur adipiscing elit. Maecenas convallis sed elit ac sagittis. Integer facilisis scelerisque erat quis finibus. Nunc euismod molesie eros, id semper lacus euismod tempus. Nulla at just id felis venenatis
                        varius. Morbi eu rutrum nibh, at tempor quam. Aenean interdum eu sapien ac sodales. Aenean ut gravida eros, id tincidunt massa. Vivamus accumsan pain nec malaise sagittis. Sed lobortis sit amet Ligula eu molestie. Nulla facilisi.
                        Nam elit dui, rutrum nec massa nec, volutpat gravida ante. Nulla tempus hate et interdum tincidunt. Aliquam lacinia ulcers pretium. Phasellus convallis consequat lacus sed suscipit. Fusce annoy lobortis lorem nec convallis.</p>
                    <a [routerLink]="['/home']" class="btn btn-primary">User List</a>
                </div>
            </div>
        </div>
    </div>
</div>